@media screen and(max-width: 992px) {

    .burger__menu {
        width: 50% !important;
    }

    .page__packed {
        p {
            font-size: 1.3rem;
        }
    }

    header {
        display: none;
    }

    .navigation__left {
        display: none;
    }

    .page__row-2 {
        margin-top: 3rem;
    }


    .drop__box {
        top: 13% !important;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -5%);
        text-align: center;
    }


    .page__progress {
        margin-top: 2rem;
        margin-left: 1rem !important;
    }


    .page {
        position: absolute;
        left: 3%;
        right: 3%;
    }

}

@media screen and(max-width: 767px) {
    // html {
    //     font-size: 58%;
    // }




    .page__box {
        padding: 1.5rem 1.5rem;
    }

    .page__calc-box--1 {
        width: none;
        margin-left: 0;
    }


    .page__charts {
        padding-bottom: 2rem !important;
    }

    .drop__box {
        width: 25%;
        top: 15% !important;
    }



    .header__input-search {
        width: 100% !important;
    }

}

@media screen and(max-width: 576px) {

    html {
        font-size: 55%;
    }

    .page__packed {
        p {
            font-size: 1.2rem;
        }
    }

    .page__charts {
        padding-bottom: 0 !important;
    }


    .page__1 {
        display: none;
    }

    .page {
        padding: 1rem !important;
    }


    .structure>.row {
        .structure>.row {
            width: 100%;
            // padding-left: 1.4rem !important;
        }
    }


    .drop__box {
        top: 13% !important;
        min-width: 35% !important;
        transform: translate(-53%, 15%);

        h4 {
            margin-left: .2rem;
            font-size: 1.4rem !important;
        }
    }

    .fnav .header__input {
        margin-left: 24% !important;
    }

    .header__input-search {
        width: 80% !important;
    }


    .drop__box-img {
        width: 3.5rem !important;
        height: 3.5rem !important;
    }


}

@media screen and(max-width:500px) {

    .burger__menu {
        width: 60% !important;
    }

    .fnav__box {
        padding-bottom: 3rem;
    }

    .drop__box {
        top: 16% !important;
    }

    .fnav__input {
        width: 61% !important;
        position: absolute;
        top: 14%;
        left: 50%;
        transform: translate(-34%, -70%);

    }

    .header__item-list {
        padding: 0 .6rem;
    }

    .header__icons {
        margin-top: .5rem;
    }

}













/////
