.progress-container {
    width: 100%;
    height: 4px;
    background: #cccccc05;
    position: fixed;
    z-index: 2000;
}

.progress-bar {
    height: 4px;
    background: linear-gradient(93.84deg, rgba(251, 152, 92, 0.88) -42.66%, rgba(255, 180, 6, 0.88) 144.99%);
    width: 0%;
}

.modal_package_cont {
    border-bottom: 1px dotted #0ea197b5;
    margin-bottom: 5px;
    padding: 20px;
}

.additional_service_td {
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: center;
}

.status_td {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.packages_td {
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: center;
    justify-content: center;
}

.additional_service_style {
    border-radius: 10px;
    padding: 0 10px;
}

.details-modal-header-flex {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.status_style {
    border-radius: 10px;
    padding: 3px 10px;
}

.status_color_0 {
    color: #63AEE0;
    border: 1px solid #63AEE0;
}

.status_color_1 {
    color: #EDBA4F;
    border: 1px solid #EDBA4F;
}

.status_color_2 {
    color: #9C62E2;
    border: 1px solid #9C62E2;
}

.status_color_3 {
    color: #8feab6;
    border: 1px solid #8feab6;
}

.status_color_4 {
    color: #5BBC73;
    border: 1px solid #5BBC73;
}

.status_color_5 {
    color: #D94B5D;
    border: 1px solid #D94B5D;
}

.status_color_6 {
    color: #c4d94b;
    border: 1px solid #c4d94b;
}

.package_status_span {
    color: white;
    border-radius: 20px;
    width: max-content;
    height: max-content;
    font-size: 12px;
    padding: 4px 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.package_status_0 {
    background: #63AEE0;
}

.package_status_1 {
    background: #EDBA4F;
}

.package_status_2 {
    background: #9C62E2;
}

.package_status_3 {
    background: #8feab6;
}

.package_status_4 {
    background: #5BBC73;
}

.package_status_5 {
    background: #D94B5D;
}

.package_status_5 {
    background: #c4d94b;
}

.modal-package-details {
    display: flex;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
    gap: 20px;
    padding: 10px;
    width: 100%;
    height: max-content;
    margin: 10px 0;
    border: 1px dotted black;
}

.modal-package-details span {
    height: max-content;
    width: 100%;
}

.user-info-row-scan-modal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.show-scanner-button-div{
    margin: 15%;
    display: none;
}
#scanner-loader{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
}
#scanner-loader div{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: #7066e0;
}

@property --a {
    initial-value: 0deg;
    inherits: false;
    syntax: '<angle>';
}
@property --h {
    initial-value: 0;
    inherits: false;
    syntax: '<number>';
}
.loader {
    padding: 2rem 4rem;
    font-family: monospace;
    font-weight: bold;
    color: #fff;
    border-style: solid;
    border-width: 1vmin;
    font-size: 2rem;
    --charge: hsl(var(--h, 0), 80%, 50%);
    -o-border-image: conic-gradient(var(--charge) var(--a), transparent calc(var(--a) + 0.5deg)) 30;
       border-image: conic-gradient(var(--charge) var(--a), transparent calc(var(--a) + 0.5deg)) 30;
    -webkit-animation: load 2s infinite ease-in-out;
            animation: load 2s infinite ease-in-out;
}
@-webkit-keyframes load {
    0%, 10% {
      --a: 0deg;
      --h: 0;
}
    100% {
        --a: 360deg;
        --h: 100;
    }
}
@keyframes load {
    0%, 10% {
        --a: 0deg;
        --h: 0;
    }
    100% {
        --a: 360deg;
        --h: 100;
    }
}


.user_role_0{
    background: rgb(93, 236, 141);
    color: white;
}
.user_role_1{
    background: rgb(45, 4, 248);
    color: white;
}
.user_role_2{
    background: rgb(232, 248, 4);
    color: black;
}

.balance_td{
    background: rgb(251 157 107);
    color: white;
    font-size: 25px;
}
.balance_holder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_id_badge{
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 14px;
    padding: 5px 12px;
    width:max-content;
}


.button-div-hm {
    display: flex;
    justify-content: center;
}

table th,
table td {
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
}
table thead{
    background: #E8EFF8;
}

.orders-holder-hm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.orders-holder-hm span {
    cursor: pointer;
    transition: 0.6s;
    font-size: 12px;
}

.orders-holder-hm span:hover {
    transform: scale(1.1);
    color: black !important;
}

.navigation__box {
    position: relative;
    background-image: linear-gradient(to right,
            hsl(0, 0%, 100%),
            hsl(0, 0%, 100%));
    z-index: 1;
    transition: background-image 0.3s linear;
    transition: 0.3s ease-in-out;
    border-radius: 3px;
}

.navigation__box::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(93.84deg, rgba(251, 152, 92, 0.88) -42.66%, rgba(255, 180, 6, 0.88) 144.99%);
    z-index: -1;
    transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) , border-radius 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
    border-radius: 3px;
}

.navigation__box:hover {
    transform: scale(1.05);
}

.navigation__box:hover::before {
    opacity: 1;
    border-radius: 25px;
}

.active-link-hm {
    background-image: linear-gradient(93.84deg, rgba(251, 152, 92, 0.88) -42.66%, rgba(255, 180, 6, 0.88) 144.99%) !important;
}

.balance_bar_in_header {
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 15px;
    background: white;
    font-weight: bold;
    width: max-content;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    user-select: none;
}
.balance_bar_in_header:hover{
    transform: scale(1.1);
}

.balance_bar_red {
    border: 2px solid #f15d13;
    color: #f15d13;
}

.balance_bar_green {
    border: 2px solid #198754;
    color: #198754;
}

.navigation__logo {
    cursor: pointer;
}

.header__account-guest {
    display: inline-block;
    align-items: center;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    /* width: 100px; */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.cancelled-row{
    background: #f8676752 !important;
}

.money-td{
    text-transform:uppercase
}
.money-td-tl{
    background: #ff00004a !important;
}
.money-td-euro{
    background: #0000ff54 !important;
}
.pdf-download-td-hm{
    cursor:pointer;
    transition:0.6s ease-in-out;
    outline: 1px solid transparent;
}
.pdf-download-td-hm:hover{
    background: white !important;
    transform: scale(1.1);
    outline: 1px solid rgb(173, 117, 117);
    z-index: 200;
}


/* asdasd */
.order-form-cont{
    position: relative;
}

.order-form-div{
    visibility:hidden;
    z-index: -1;
    position: absolute;
    top: 0;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    align-items: center;
    background: white;
    padding-block: 30px;
}
/* .order-form-div div, */
.order-form-div ul,
.order-form-div li{
    background: transparent;
}
.active-order-form-div > li{
    border: transparent;
}
.order-form-div:hover{
    outline: 2px solid #FF912C;
    border-radius: 40px;
    /* transform: scale(1.01); */
    box-shadow: 3px -2px 64px 1px rgba(0, 0, 0, 0.251);
}

.active-order-form-div{
    visibility: visible;
    position: static;
    z-index: 1;
}
.list-group-item{
    width:100%;
}

#submit_button_form{
    display: flex;
}

.cargo-company-labels-holder{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    gap: 10px 0;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.cargo-company-label{
    height: max-content;
    width: 100%;
}

.total_cargo_price {
    position: fixed;
    bottom: 5%;
    right: 3%;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 10px;
    background: #FFA555;
    justify-items: center;
    gap: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1)
}
.total_cargo_price:hover{
    transform: scale(1.1);
}

.total_cargo_price span {
    all: unset;
    color: white;
    font-size: 15px;
}




.text-blog {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification-modal-backdrop {
    background: rgb(0 0 5 / 88%) !important;
    height: 100%;
}

.notification-modal-backdrop .swal2-popup {
    width: 80%;
    height: 48vw;
    overflow: auto;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swal2-html-container {
    z-index: 100;
    height: max-content;
    overflow-y: auto;
    overflow-x: hidden;
}

.notification-modal-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.notification-modal-cont .text-start {
    display: block !important;
}

.notification-modal-cont img {
    object-fit: scale-down;
    width: 60% !important;
    height: max-content;
    border: 1px solid #443d3d4d;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.notification-modal-cont img:hover {
    transform: scale(1.2);
    cursor: zoom-in;
    background: white;
    z-index: 100;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.usage-div-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px 2%;
}

.usage-div-holder {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 20;
    background: #fff;
    box-shadow: 0 4px 15px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    align-items: center;
    position: relative;
    /* height: 20vw; */
    padding: 20px;
}

.usage-div-holder button {
    position: absolute;
    bottom: 0;
    left: 2%;
}

.usage-div-holder:hover {
    box-shadow: 0px -20px 50px 1px rgb(0 0 0 / 32%);
    transform: scale(1.1) translateY(3em);
    cursor: pointer;
    border-radius: 20px;
    z-index: 100;
}



/* Demands */
.courier__select::-webkit-input-placeholder {
    color: #D9D9D9;
}

.dropdown {
    position: relative;
    /* margin-bottom: 20px; */
}

.dropdown .dropdown-list {
    padding: 25px 20px;
    background: #fff;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 223px;
    overflow-y: auto;
    background: #fff;
    display: none;
    z-index: 10;
}

.dropdown .checkbox {
    opacity: 0;
    transition: opacity 0.2s;
}

.dropdown .dropdown-label {
    display: block;
    font-size: 16px;
    line-height: 30px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 40px 0 8px;
    cursor: pointer;
    position: relative;
}

.dropdown .dropdown-label:before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    content: "\f107";
    /* content: ''; */
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.25s;
    transform-origin: center center;
}

.dropdown.open .dropdown-list {
    display: block;
}

.dropdown.open .checkbox {
    transition: 2s opacity 2s;
    opacity: 1;
}

.dropdown.open .dropdown-label:before {
    transform: translateY(-50%) rotate(-180deg);
}

.checkbox {
    margin-bottom: 20px;
}

.checkbox:last-child {
    margin-bottom: 0;
}

.checkbox .checkbox-custom {
    display: none;
}

.checkbox .checkbox-custom-label {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox .checkbox-custom+.checkbox-custom-label:before {
    content: "";
    background: #47C5FF;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    text-align: center;
    width: 18px;
    height: 18px;
    border: 1px solid #84D8FF;
    border-radius: 2px;
    margin-top: -2px;
}

.checkbox .checkbox-custom:checked+.checkbox-custom-label:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 6px;
    height: 10px;
    padding: 2px;
    transform: rotate(45deg);
    text-align: center;
    border: solid white;
    border-width: 0 3px 3px 0;
}

.checkbox .checkbox-custom-label {
    line-height: 16px;
    font-size: 16px;
    margin-right: 0;
    margin-left: 0;
    color: black;
}

.radio-holder-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
    height: max-content;
}

.btn-back {
    transition: 0.6s;
}

.tab-sections {
    position: relative;
}

.tab-col {
    width: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
}

.active-tab-hm {
    opacity: 10;
    z-index: 100;
    visibility: visible;
    transition: 0.6s;
}

input[name="user_message"]::placeholder {
    color: rgba(22, 32, 39, 0.627) !important;
}

.create-demand-form-hm{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    /* position: relative; */
}

.create-demand-part {
    padding: 2rem 2rem;
    background: #fff;
    outline: 1px solid rgba(0, 0, 0, 0.17);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-basis: 49.5%;
    gap: 20px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.create-demand-part:hover{
    outline: 4px solid #FF912C;
    cursor: cell;
    border-radius: 20px;
    transform: scale(1.02);
}

.create-demand-form-right-hm{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3 , auto);
    justify-items: start;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.create-demand-form-hm .form-group{
    width:100%;
}

.create-demand-form-bottom-hm{
    flex-basis: 100% !important;
    align-items: center;
}

@media (max-width: 1420px) {
    .create-demand-part {
        flex: 100%;
    }
}

.focus-hover-elm-hm,
.dataTables_wrapper{
    padding: 2rem 2rem;
    background: #fff;
    outline: 1px solid rgba(0, 0, 0, 0.17);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-top: 10px;
}

.focus-hover-elm-hm:hover,
.dataTables_wrapper:hover{
    outline: 2px solid #FF912C;
    border-radius: 40px;
    /* transform: scale(1.01); */
    box-shadow: 3px -2px 64px 1px rgba(0, 0, 0, 0.251);
}

.swal2-timer-progress-bar{
    background: linear-gradient(93.84deg, rgba(255, 180, 6, 0.627) -42.66%,rgba(251, 153, 92, 0.293) 144.99%);
    height: 0.45em;
}

/* Custom select element */
:root{
    --custom-items-color-blue: #47C5FF;
    --custom-items-color-orange: #FF912C;
}
.select-custom-hm{
    width:100% !important;
}
.dropdown-toggle {
    font-size: 15px !important;
    padding-block: 10px;
    color: var(--custom-items-color-blue) !important;
    outline: 1px solid var(--custom-items-color-blue);
    border: 1px solid transparent;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}
#custom_select_button:focus,
#custom_select_button:hover{
    outline: 3px solid var(--custom-items-color-blue) !important;
    border-radius: 10px;
}
.dropdown-item *{
    font-size: 16px !important;
}
.dropdown-menu{
    border: 1px solid var(--custom-items-color-blue);
    border-radius: 20px;
    background: rgb(255 255 255 / 33%);
    backdrop-filter: blur(3px);
}
.dropdown-item:not(.disabled){
    color: rgb(0, 0, 0) !important;
    transition: all 0.2s ease-in-out;
}
.dropdown-item:hover{
    background: var(--custom-items-color-blue);
}
.dropdown-menu li .selected{
    background: var(--custom-items-color-blue);
}
.dropdown-menu .bs-searchbox input{
    border: 1px solid var(--custom-items-color-blue) !important;
    transition: all 0.4s ease-in-out;
}


.detail-block-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 30vw;
}
.detail-span-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10rem;
    background: #17a2b8;
    color: white;
    padding: 10px;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: 12px;
    font-weight: 700;
}
.detail-span-block:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: black;
}
.detail-span-block span{
    width: max-content;
}

/*------------------------- Helpers -------------------------*/
.empty-space-hm-30{
    width: 100%;
    height: 30px;
}
.pad-block-10px{
    padding-block: 10px;
}

.f-s-1-6{
    font-size: 1.6rem;
}

.not-active-element-hm{
    opacity:0;
    visibility:hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}
.element-w-transition{
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.active-element-hm{
    opacity:1;
    visibility:visible;
}
/*------------------------- Helpers -------------------------*/


/* Tooltip */
.ttp{
    cursor: help !important;
}
a.ttp{
    cursor: pointer !important;
}
.ttp:hover:after {
    opacity: 1;
    transition: all 0.5s ease 0.5s;
    visibility: visible;
    bottom: 3rem;
}

.ttp:after {
    content: attr(data-ttp);
    background: #000000b9;
    color: rgb(255, 255, 255);
    width: max-content;
    font-size: 13px;
    backdrop-filter: blur(5px);
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    left: 0;
    right: 0;
    bottom: 5rem;
    margin: auto;
    top: auto;
    white-space: nowrap;
    opacity: 0;
    z-index: 100;
    border-radius: 20px;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.ttp{
    position: relative;
}
.ttp-right:after{
    left: auto;
    right: 0;
    bottom: 5rem;
    margin: auto;
    top: auto;
}

.overlay-hm{
    background: rgb(0 0 0 / 73%) !important;
    backdrop-filter: blur(2px);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    user-select: none;
}
