.burger__menu {
    position: absolute;
    top: 3%;
    left: 0%;
    width: 40%;
    transform: translateX(-100%);
    z-index: 500;
    height: 103%;
    transition: ease .3s;
    overflow-y: scroll;
}

.burger__menu::-webkit-scrollbar {
    width: 10px;
}

.burger__menu::-webkit-scrollbar-track {
    background-color: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.burger__menu::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #e5e5e5;
}

// .visible {
//     display: block;
// }

.burger__menu-visible {
    transform: translateX(0%);
}


.burger__line-1 {
    transform: rotate(-45deg) translate(-2px, 3px);
    transition: ease .5s;
}

.burger__line-2 {
    opacity: 0;
    transition: ease .3s;
}


.burger__line-3 {
    transform: rotate(45deg) translate(-6px, -9px);
    width: 30px;
    transition: ease .5s;
}



////header --2

.fnav {

    display: none !important;
    padding: 2rem .7rem 4rem .7rem;
    background: linear-gradient(88.78deg, rgba(106, 137, 231, 0.9) -4.73%, rgba(102, 171, 231, 0.9) 109.52%);
    transition: ease-in-out 3s;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;


    &__box {
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
    }


    &__input {
        width: 20%;
    }


    @media screen and(max-width:992px) {
        display: block !important;

        .fnav__input {
            // width: 40%;

            .header__input-search {
                width: 100%;
            }
        }
    }


    @media screen and(max-width:767px) {

        .fnav__input {
            // width: 20%;

            .header__input-search {
                width: 100%;
            }
        }

        .header__item-list {
            padding: 0 1rem;
            margin-top: .8rem;
        }
    }

    @media screen and(max-width:500px) {
        .fnav__box {
            padding-bottom: 2rem;

        }

        .drop__box {}

    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__burger {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 2rem;
        height: 2rem;

    }


}

.header__input {
    margin-left: 5%;
}

.fnav__line {
    position: absolute;
    height: 1px;
    width: 20px;
    background-color: #fff;
    display: inline-block;
    transition: all 1s;
}

.fnav__top {
    top: 2px;
}

.fnav__center {
    top: 1rem;
}

.fnav__bottom {
    bottom: 2px;
}






/////
