.burger__menu {
    position: absolute;
    top: 20%;
    left: 0;
    display: none;
    width: calc(100% - 65%);
    transform: translateX(-100%);
    z-index: 500;
    transition: all 6s;
    height: auto;
}


.visible {
    display: block;
}

.burger__menu-visible {
    transform: translateX(0%);
}


.burger__line-1 {
    transform: rotate(-45deg) translate(-2px, 3px);
    transition: ease .5s;
}

.burger__line-2 {
    opacity: 0;
    transition: ease .3s;
}


.burger__line-3 {
    transform: rotate(45deg) translate(-6px, -9px);
    width: 30px;
    transition: ease .5s;
}


.fnav {
    padding: 5rem 1rem;
    background: linear-gradient(88.78deg, rgba(106, 137, 231, 0.9) -4.73%, rgba(102, 171, 231, 0.9) 109.52%);
    display: none;
    transition: ease-in-out 3s;


    @media screen and(max-width:992px) {
        display: block;
    }



    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__burger {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 2rem;
        height: 2rem;

    }

    .navigation__logo {


        img {
            margin-top: 1rem;
        }
    }

    .header__input {
        margin-left: 5%;
    }





    &__line {
        position: absolute;
        height: 1px;
        width: 20px;
        background-color: #fff;
        display: inline-block;
        transition: all 1s;
    }

    &__top {
        top: 3px;
    }


    &__center {
        top: 1rem;
    }

    &__bottom {
        bottom: 2px;
    }


}





/////