


li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --color-white-thin: #CADBFE;
  --color-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
  --color-primary-blue: #3B69E4;
  --color-grey-light-1: #FB985C;
  --color-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--color-grey-light-2);
}

header {
  background: linear-gradient(88.78deg, rgba(106, 137, 231, 0.9) -4.73%, rgba(102, 171, 231, 0.9) 109.52%);
  border-radius: 0px 0px 5px 0px;
  padding: 1rem 0rem;
  padding-bottom: 4rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.header__input-search {
  font-size: 1.5rem;
  background-color: transparent;
  padding: 0.5rem;
  outline: none;
  position: relative;
  border: none;
  padding: 0 2.5rem;
  width: 50%;
  color: #fff;
}

.header__input {
  margin-left: calc(100% - 60%);
}

.header__input-icon {
  color: var(--color-white-thin);
  font-size: 1.8rem;
  position: absolute;
  margin: .5rem 0;
  display: inline-block;
}

.header__input-search::-webkit-input-placeholder {
  color: var(--color-white-thin);
  font-size: 1.4rem;
}

.header__input-search:-ms-input-placeholder {
  color: var(--color-white-thin);
  font-size: 1.4rem;
}

.header__input-search::-ms-input-placeholder {
  color: var(--color-white-thin);
  font-size: 1.4rem;
}

.header__input-search::placeholder {
  color: var(--color-white-thin);
  font-size: 1.4rem;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item-list {
  list-style-type: none;
  padding: 0 1.4rem;
}

.header__item-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #fff;
}

.header__item-link:hover {
  color: var(--color-white-thin);
}

.header__item-icon {
  font-size: 1.7rem;
}

.header__account {
  color: #fff;
}

.header__account-guest {
  color: #fff;
}

.header__account-icon {
  padding: 0 .8rem;
}

nav {
  /* background-color: #fff;
  width: 100%;
  height: auto;
  padding: 3rem 0;
  margin-top: -5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: var(--color-shadow);
          box-shadow: var(--color-shadow); */
}
/* 
.navigation__box {
  width: 100%;
  margin: 1rem 0;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
} */

.navigation__items {
  margin-left: 1rem;
  padding-left: 0 !important;
}

.navigation__item {
  font-size: 1.6rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.navigation__icon {
  font-size: 1.2rem;
  margin-right: 0.8rem;
}

.navigation__span {
  color: #525252;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  display: inline-block;
}

.navigation__cancel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 2rem;
}

.navigation__cancel-span {
  width: 7%;
  height: 7%;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--color-primary-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2rem 0.9rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.navigation__cancel-icon {
  color: #fff;
  font-size: 1.3rem;
}

.color {
  background-color: var(--color-grey-light-1);
  width: 90%;
  border-radius: 5px;
}
