*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-page-background);
  overflow-x: hidden; }

li {
  list-style: none; }

a {
  text-decoration: none; }

p {
  color: #405982;
  margin-bottom: 0; }

:root {
  --color-white-thin: #CADBFE;
  --color-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
  --color-primary-blue: #3B69E4;
  --color-grey-light-1: #FB985C;
  --color-page-background: #E5E5E5;
  --color-main-button: #3B69E4;
  --color-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--color-grey-light-2); }

@media screen and (max-width: 992px) {
  html {
    font-size: 58%; }
  .page__packed p {
    font-size: 1.3rem; }
  header {
    display: none; }
  .navigation__left {
    display: none; }
  .structure > .row {
    padding-left: 2rem !important; }
  .page__row-2 {
    margin-top: 3rem; }
  .drop__box {
    right: 36% !important;
    padding: 1rem 0 !important; }
  .page__2 {
    margin-top: 6rem !important; }
  .color__box {
    display: flex;
    justify-content: center; }
    .color__box .offset-1 {
      margin-left: 0; }
  .page__progress {
    margin-top: 2rem;
    margin-left: 1rem !important; } }

@media screen and (max-width: 767px) {
  html {
    font-size: 58%; }
  .page__box {
    padding: 1.5rem 1.5rem; }
  .page__calc-box--1 {
    width: none;
    margin-left: 0; }
  .page__charts {
    padding-bottom: 2rem !important; }
  .drop__box {
    width: 40%; }
  .structure > .row {
    width: 96%;
    padding-left: 5rem; }
  .header__input-search {
    width: 100% !important; } }

@media screen and (max-width: 576px) {
  html {
    font-size: 56%; }
  .page__packed p {
    font-size: 1.2rem; }
  .page__charts {
    padding-bottom: 0 !important; }
  .page__1 {
    display: none; }
  .page {
    padding: 1rem !important; }
  .structure > .row .structure > .row {
    width: 100%; }
  .drop__box {
    width: 44% !important; }
  .fnav .header__input {
    margin-left: 24% !important; }
  .header__input-search {
    width: 80% !important; }
  .burger__menu {
    width: calc(100% - 35%) !important; } }

.price__calcutaor {
  padding: .5rem .8rem;
  color: #fff;
  font-size: 1.2rem;
  background: var(--color-main-button);
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px; }

.hr {
  margin: 3rem 0; }

.drop__box {
  background: #FFFFFF;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  padding: 2rem 0;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 14%;
  right: 25%; }
  .drop__box-img {
    width: 4rem;
    height: 4rem;
    background: linear-gradient(to right top, #18BDF6, #00D2FF);
    border-radius: 50%;
    display: flex;
    justify-content: center; }
    .drop__box-img img {
      width: 50%; }
  .drop__box h4 {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 25px;
    color: #405982; }

header {
  background: linear-gradient(88.78deg, rgba(106, 137, 231, 0.9) -4.73%, rgba(102, 171, 231, 0.9) 109.52%);
  border-radius: 0px 0px 5px 0px;
  padding: 1rem 0rem;
  padding-bottom: 4rem; }

.hidden {
  display: none; }

.visible {
  display: block; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem; }
  .header__input-search {
    font-size: 1.5rem;
    background-color: transparent;
    padding: 0.5rem;
    outline: none;
    position: relative;
    border: none;
    padding: 0 2.5rem;
    width: 50%;
    color: #fff; }
  .header__input {
    margin-left: calc(100% - 60%); }
  .header__input-icon {
    color: var(--color-white-thin);
    font-size: 1.8rem;
    position: absolute;
    margin: .5rem 0;
    display: inline-block; }
  .header__input-search::placeholder {
    color: var(--color-white-thin);
    font-size: 1.4rem; }
  .header__item {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    align-items: center; }
  .header__item-list {
    list-style-type: none;
    padding: 0 1.4rem; }
  .header__item-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff; }
  .header__item-link:hover {
    color: var(--color-white-thin); }
  .header__item-icon {
    font-size: 1.7rem; }
  .header__account {
    color: #fff; }
  .header__account-guest {
    color: #fff; }
  .header__account-icon {
    padding: 0 .8rem; }

nav {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 3rem 0;
  margin-top: -5rem;
  border-radius: 0.5rem;
  box-shadow: var(--color-shadow);
  z-index: 200; }

.navigation__box {
  width: 100%;
  margin: 1rem 0;
  height: 3.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.navigation__items {
  margin-left: 1rem;
  padding-left: 0 !important; }

.navigation__item {
  font-size: 1.6rem;
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 1rem; }

.navigation__icon {
  font-size: 1.2rem;
  margin-right: 0.8rem; }

.navigation__span {
  color: #525252;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  display: inline-block; }

.navigation__cancel {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem; }

.navigation__cancel-span {
  width: 7%;
  height: 7%;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--color-primary-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.9rem;
  margin-right: 1.5rem;
  cursor: pointer; }

.navigation__cancel-icon {
  color: #fff;
  font-size: 1.3rem; }

.navigation__image {
  display: flex;
  justify-content: flex-end; }
  .navigation__image img {
    width: 25%; }

.color {
  background-color: var(--color-grey-light-1);
  width: 90%;
  border-radius: 5px; }

.burger__menu {
  position: absolute;
  top: 20%;
  left: 0;
  display: none;
  width: calc(100% - 65%);
  transform: translateX(-100%);
  z-index: 500;
  transition: all 6s;
  height: auto; }

.visible {
  display: block; }

.burger__menu-visible {
  transform: translateX(0%); }

.burger__line-1 {
  transform: rotate(-45deg) translate(-2px, 3px);
  transition: ease .5s; }

.burger__line-2 {
  opacity: 0;
  transition: ease .3s; }

.burger__line-3 {
  transform: rotate(45deg) translate(-6px, -9px);
  width: 30px;
  transition: ease .5s; }

.fnav {
  padding: 5rem 1rem;
  background: linear-gradient(88.78deg, rgba(106, 137, 231, 0.9) -4.73%, rgba(102, 171, 231, 0.9) 109.52%);
  display: none;
  transition: ease-in-out 3s; }
  @media screen and (max-width: 992px) {
    .fnav {
      display: block; } }
  .fnav__box {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .fnav__burger {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 2rem; }
  .fnav .navigation__logo img {
    margin-top: 1rem; }
  .fnav .header__input {
    margin-left: 5%; }
  .fnav__line {
    position: absolute;
    height: 1px;
    width: 20px;
    background-color: #fff;
    display: inline-block;
    transition: all 1s; }
  .fnav__top {
    top: 3px; }
  .fnav__center {
    top: 1rem; }
  .fnav__bottom {
    bottom: 2px; }

.page {
  padding: 6rem 1.5rem 0 1.5rem;
  background-color: #fff; }
  .page__2 {
    margin-top: 10rem; }
  .page__structure {
    height: auto; }
  .page__structure > .row {
    background-color: #fff; }
  .page__box {
    text-align: center;
    padding: 1.5rem 1.5rem;
    margin: 1.5rem;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px; }
  .page__box > div:not(:last-child) {
    margin-bottom: 1.5rem; }
  .page__img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; }
    .page__img-1 {
      background-color: #EB5866; }
    .page__img-2 {
      background-color: #FFB406; }
    .page__img-3 {
      background-color: #3B69E4; }
    .page__img-4 {
      background-color: #47C5FF; }
    .page__img-5 {
      background-color: #E97058; }
    .page__img-6 {
      background-color: #68D7FA; }
    .page__img img {
      width: 70%; }
  .page__input > input {
    width: 80%;
    display: block;
    margin: 0 auto; }
  .page__btn {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: .5rem 1rem;
    border: none;
    color: white;
    font-size: 1.3rem;
    border-radius: 1rem; }
    .page__btn-1 {
      background-color: #EB5866; }
    .page__btn-2 {
      background-color: #FFB406; }
    .page__btn-3 {
      background-color: #3B69E4; }
    .page__btn-4 {
      background-color: #47C5FF; }
    .page__btn-5 {
      background-color: #E97058; }
    .page__btn-6 {
      background-color: #68D7FA; }
  .page__header .heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 25px; }
  .page__text p {
    font-weight: 400;
    font-size: 1.5rem; }
  .page__row {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 2rem; }
  .page__packed {
    margin: 1.4rem 0;
    padding: 1rem 1rem;
    display: flex;
    background: #FFFFFF;
    border: 1px solid rgba(179, 179, 179, 0.19);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px; }
  .page__charts {
    height: auto; }
  .page__not {
    display: flex;
    align-items: center; }
    .page__not-box {
      width: 3rem;
      height: 3rem;
      background: linear-gradient(to right top, #18BDF6, #00D2FF);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
  .page__dots {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0; }
  .page__dots-color {
    display: flex;
    align-items: center; }
    .page__dots-color p {
      margin-bottom: 0;
      margin-left: .5rem;
      font-size: 1.2rem; }
  .page__calc-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .page__calc-icon .h5 {
      margin-bottom: -1.25rem;
      font-size: 1rem !important; }
    .page__calc-icon .total {
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      color: #405982; }
  .page__price-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .page__price-buttons p {
      margin-bottom: 0; }
  .page__map {
    margin-top: 4rem;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 2rem 0; }
    .page__map-img {
      display: flex;
      justify-content: center; }
  .page__progress {
    margin-left: 8rem; }
  .page__progressbar-datas {
    display: flex;
    justify-content: space-between; }

#calculator {
  background-color: #fff;
  padding: 2rem 1rem; }

.calculator__box {
  display: flex;
  align-items: center;
  background: #F8F8F8;
  border: 0.3px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: .5rem;
  margin-top: 2rem; }
  .calculator__box img {
    width: 19%; }
  .calculator__box p {
    font-size: 1.5rem;
    margin: 0 2rem;
    position: relative; }
    .calculator__box p::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 25px;
      border: 1px solid rgba(0, 0, 0, 0.19);
      left: -7%; }
    .calculator__box p::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 25px;
      border: 1px solid rgba(0, 0, 0, 0.19);
      right: 0%; }
  .calculator__box span {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1.8rem;
    display: inline-block;
    color: #FF912C;
    margin: 0 auto; }
  .calculator__box input {
    font-size: 1.8rem;
    margin: auto; }
