*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-size: 1rem;
  box-sizing: border-box;
  background-color: var(--color-page-background); }

li {
  list-style: none; }

a {
  text-decoration: none; }

p {
  color: #405982;
  margin-bottom: 0; }

.header__item-link {
  color: #fff; }

:root {
  --color-white-thin: #CADBFE;
  --color-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
  --color-primary-blue: #3B69E4;
  --color-grey-light-1: #FB985C;
  --color-page-background: #E5E5E5;
  --color-main-button: #3B69E4;
  --color-burger-btn:linear-gradient(93.84deg, rgba(251, 152, 92, 0.88) -42.66%, rgba(255, 180, 6, 0.88) 144.99%);
  --color-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--color-grey-light-2); }

@media screen and (max-width: 992px) {
  .burger__menu {
    width: 50% !important; }
  .page__packed p {
    font-size: 1.3rem; }
  header {
    display: none; }
  .navigation__left {
    display: none; }
  .page__row-2 {
    margin-top: 3rem; }
  .drop__box {
    top: 13% !important;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -5%);
    text-align: center; }
  .page__progress {
    margin-top: 2rem;
    margin-left: 1rem !important; }
  .page {
    position: absolute;
    left: 3%;
    right: 3%; } }

@media screen and (max-width: 767px) {
  .page__box {
    padding: 1.5rem 1.5rem; }
  .page__calc-box--1 {
    width: none;
    margin-left: 0; }
  .page__charts {
    padding-bottom: 2rem !important; }
  .drop__box {
    width: 25%;
    top: 15% !important; }
  .header__input-search {
    width: 100% !important; } }

@media screen and (max-width: 576px) {
  html {
    font-size: 55%; }
  .page__packed p {
    font-size: 1.2rem; }
  .page__charts {
    padding-bottom: 0 !important; }
  .page__1 {
    display: none; }
  .page {
    padding: 1rem !important; }
  .structure > .row .structure > .row {
    width: 100%; }
  .drop__box {
    top: 13% !important;
    min-width: 35% !important;
    transform: translate(-53%, 15%); }
    .drop__box h4 {
      margin-left: .2rem;
      font-size: 1.4rem !important; }
  .fnav .header__input {
    margin-left: 24% !important; }
  .header__input-search {
    width: 80% !important; }
  .drop__box-img {
    width: 3.5rem !important;
    height: 3.5rem !important; } }

@media screen and (max-width: 500px) {
  .burger__menu {
    width: 60% !important; }
  .fnav__box {
    padding-bottom: 3rem; }
  .drop__box {
    top: 16% !important; }
  .fnav__input {
    width: 61% !important;
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-34%, -70%); }
  .header__item-list {
    padding: 0 .6rem; }
  .header__icons {
    margin-top: .5rem; } }

.price__calcutaor {
  padding: .5rem .8rem;
  color: #fff;
  font-size: 1.7rem;
  background: var(--color-main-button);
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px; }

.hr {
  margin: 3rem 0; }

.drop__box {
  background: #FFFFFF;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  padding: 1rem 0;
  min-width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 9%;
  right: 28%; }
  .drop__box-img {
    width: 4rem;
    height: 4rem;
    background: linear-gradient(to right top, #18BDF6, #00D2FF);
    border-radius: 50%;
    display: flex;
    justify-content: center; }
    .drop__box-img img {
      width: 50%; }
  .drop__box h4 {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 25px;
    color: #405982; }

.overlay__active {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  /* Black background with opacity */
  z-index: 250;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; }

.visible {
  display: block; }

.overflowY {
  overflow-y: hidden; }

.isActive {
  background: var(--color-burger-btn); }

.navigation__box {
  outline: none;
  border: none;
  background-color: transparent; }

.navigation__box:hover {
  border-radius: 3px;
  background: var(--color-burger-btn); }

.burger__menu .navigation__box {
  width: 50%; }

@media screen and (max-width: 767px) {
  .burger__menu .navigation__box {
    width: 100%; } }

header {
  background: linear-gradient(88.78deg, rgba(106, 137, 231, 0.9) -4.73%, rgba(102, 171, 231, 0.9) 109.52%);
  border-radius: 0px 0px 5px 0px;
  padding: 1rem 0rem;
  padding-bottom: 4rem; }

.hidden {
  display: none; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem; }
  .header__input-search {
    font-size: 1.5rem;
    background-color: transparent;
    padding: 0.5rem;
    outline: none;
    position: relative;
    border: none;
    padding: 0 2.5rem;
    width: 50%;
    color: #fff; }
  .header__input {
    margin-left: calc(100% - 60%); }
  .header__input-icon {
    color: var(--color-white-thin);
    font-size: 1.8rem;
    position: absolute;
    margin: .5rem 0;
    display: inline-block; }
  .header__input-search::placeholder {
    color: var(--color-white-thin);
    font-size: 1.4rem; }
  .header__item {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    align-items: center; }
  .header__item-list {
    list-style-type: none;
    padding: 0 1.4rem; }
  .header__item-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff; }
  .header__item-link:hover {
    color: var(--color-white-thin); }
  .header__item-icon {
    font-size: 1.7rem; }
  .header__account {
    color: #fff; }
  .header__account-guest {
    color: #fff; }
  .header__account-icon {
    padding: 0 .8rem; }

nav {
  background-color: #fff;
  width: 100%;
  height: 101.5%;
  padding: 3rem 0;
  margin-top: -3rem;
  border-radius: 0.5rem;
  box-shadow: var(--color-shadow);
  z-index: 200; }

.navigation__box {
  width: 100%;
  margin: 1rem 0;
  height: 3.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 600; }

.navigation__items {
  margin-left: 1rem;
  padding-left: 0 !important; }

.navigation__item {
  font-size: 1.6rem;
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 1rem; }

.navigation__icon {
  font-size: 1.4rem;
  margin-right: 0.8rem; }

.navigation__span {
  color: #525252;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 1.7rem;
  display: inline-block; }

.navigation__box {
  cursor: pointer; }

.navigation__cancel-span {
  width: 5%;
  height: 5%;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--color-primary-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.9rem;
  margin-right: 1.5rem;
  cursor: pointer; }

.navigation__cancel-icon {
  color: #fff;
  font-size: 1.3rem; }

.navigation__image {
  display: flex;
  justify-content: center; }
  .navigation__image img {
    width: 25%; }

.color {
  background-color: var(--color-grey-light-1);
  width: 90%;
  border-radius: 5px; }

.burger__menu {
  position: absolute;
  top: 16%;
  left: 0;
  width: calc(100% - 65%);
  transform: translateX(-100%);
  z-index: 500;
  height: 100%;
  transition: ease .5s; }

.burger__menu-visible {
  transform: translateX(0%); }

.burger__line-1 {
  transform: rotate(-45deg) translate(-2px, 3px);
  transition: ease .5s; }

.burger__line-2 {
  opacity: 0;
  transition: ease .3s; }

.burger__line-3 {
  transform: rotate(45deg) translate(-6px, -9px);
  width: 30px;
  transition: ease .5s; }

.fnav {
  padding: 5rem 1rem;
  background: linear-gradient(88.78deg, rgba(106, 137, 231, 0.9) -4.73%, rgba(102, 171, 231, 0.9) 109.52%);
  display: none;
  transition: ease-in-out 3s; }
  .fnav__box {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem; }
  .fnav__input {
    width: 20%; }
  @media screen and (max-width: 992px) {
    .fnav {
      display: block; }
      .fnav .fnav__input {
        width: 40%; }
        .fnav .fnav__input .header__input-search {
          width: 100%; } }
  @media screen and (max-width: 767px) {
    .fnav .fnav__input {
      width: 20%; }
      .fnav .fnav__input .header__input-search {
        width: 100%; }
    .fnav .header__item-list {
      padding: 0 1rem;
      margin-top: .8rem; } }
  @media screen and (max-width: 500px) {
    .fnav .fnav__box {
      padding-bottom: 2rem; }
    .fnav .drop__box {
      top: 14% !important; } }
  .fnav__box {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .fnav__burger {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 2rem; }

.header__input {
  margin-left: 5%; }

.fnav__line {
  position: absolute;
  height: 1px;
  width: 20px;
  background-color: #fff;
  display: inline-block;
  transition: all 1s; }

.fnav__top {
  top: 2px; }

.fnav__center {
  top: 1rem; }

.fnav__bottom {
  bottom: 2px; }

.page {
  padding: 6rem 1.5rem 0 1.5rem;
  background-color: #fff; }
  .page__2 {
    margin-top: 10rem; }
  .page__structure {
    height: auto; }
  .page__structure > .row {
    background-color: #fff; }
  .page__box {
    text-align: center;
    padding: 1.5rem 1.5rem;
    margin: 1.5rem;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    min-height: 26rem; }
  .page__box > div:not(:last-child) {
    margin-bottom: 1.5rem; }
  .page__img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; }
    .page__img-1 {
      background-color: #EB5866; }
    .page__img-2 {
      background-color: #FFB406; }
    .page__img-3 {
      background-color: #3B69E4; }
    .page__img-4 {
      background-color: #47C5FF; }
    .page__img-5 {
      background-color: #E97058; }
    .page__img-6 {
      background-color: #68D7FA; }
    .page__img img {
      width: 70%; }
  .page__input > input {
    width: 80%;
    display: block;
    margin: 0 auto; }
  .page__btn {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: .5rem 1rem;
    border: none;
    color: white;
    font-size: 1.3rem;
    border-radius: 1rem; }
    @media screen and (max-width: 991px) {
      .page__btn {
        width: 60%; } }
    @media screen and (max-width: 577px) {
      .page__btn {
        width: 40%; }
        .page__btn .page__input > input {
          width: 56%; } }
    .page__btn-1 {
      background-color: #EB5866; }
    .page__btn-2 {
      background-color: #FFB406; }
    .page__btn-3 {
      background-color: #3B69E4; }
    .page__btn-4 {
      background-color: #47C5FF; }
    .page__btn-5 {
      background-color: #E97058; }
    .page__btn-6 {
      background-color: #68D7FA; }
  .page__header .heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 25px; }
  .page__text p {
    font-weight: 400;
    font-size: 1.5rem; }
  .page__row {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 2rem;
    min-height: 40rem; }
    @media screen and (max-width: 1170px) {
      .page__row {
        min-height: 46rem; } }
  @media screen and (max-width: 992px) {
    .page__row {
      min-height: 30rem; } }
  .page__packed {
    margin: 1.4rem 0;
    padding: 1rem 1rem;
    display: flex;
    background: #FFFFFF;
    border: 1px solid rgba(179, 179, 179, 0.19);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px; }
    .page__packed > p {
      font-size: 1.2rem; }
  .page__charts {
    height: auto; }
  .page__not {
    display: flex;
    align-items: center; }
    .page__not-box {
      width: 4rem;
      height: 4rem;
      background: linear-gradient(to right top, #18BDF6, #00D2FF);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .page__not img {
      width: 40%; }
  .page__dots {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0; }
  .page__dots-color {
    display: flex;
    align-items: center; }
    .page__dots-color p {
      margin-bottom: 0;
      margin-left: .5rem;
      font-size: 1.2rem; }
  .page__calc-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .page__calc-icon .h5 {
      margin-bottom: -1.25rem;
      font-size: 1.5rem !important; }
    .page__calc-icon .total {
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      color: #405982; }
  .page__price-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .page__price-buttons p {
      margin-bottom: 0; }
  .page__map {
    margin-top: 4rem;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 2rem 0; }
    .page__map-img {
      display: flex;
      justify-content: center; }
  .page__progress {
    margin-left: 8rem; }
  .page__progressbar-datas {
    display: flex;
    justify-content: space-between; }
  .page__map-btn {
    display: flex;
    justify-content: flex-end;
    margin: 3rem 6rem; }

.calc__box-text {
  font-size: 1.4rem; }

.form-select {
  font-size: 1.5rem; }

.form-control {
  font-size: 1.5rem; }

.input-group-text {
  font-size: 1.3rem; }

.color__box {
  margin: 2rem 0;
  display: flex;
  justify-content: center; }

#calculator {
  background-color: #fff;
  padding: 2rem 1rem; }

.page__calc {
  font-size: 1.8rem; }

.calculator__box {
  display: flex;
  align-items: center;
  background: #F8F8F8;
  border: 0.3px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: .5rem;
  margin-top: 2rem; }
  .calculator__box img {
    width: 19%; }
  .calculator__box p {
    font-size: 1.6rem;
    margin: 0 2rem;
    position: relative; }
    .calculator__box p::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 25px;
      border: 1px solid rgba(0, 0, 0, 0.19);
      left: -7%; }
    .calculator__box p::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 25px;
      border: 1px solid rgba(0, 0, 0, 0.19);
      right: 0%; }
  .calculator__box span {
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 1.8rem;
    display: inline-block;
    color: #FF912C;
    margin: 0 auto; }
  .calculator__box input {
    font-size: 1.8rem;
    margin: auto; }

#balance {
  background-color: transparent; }
