#profil{width:100%;font-size:1.8rem}
.profil__input{height:80vh}
.variable a{text-decoration:none}
.h6,.variable h2,h5,h6,label{font-size:1.3rem}
.variable .form-control{font-size:1.5rem}
.variable .btn{font-size:1.5rem}
.variable ::placeholder{color:rgba(64,89,130,.55)}
.variable select{color:rgba(64,89,130,.55)}
.variable-container-inputs-button38{background-color:#21e7c3!important;border:none;color:#fff}
.fa-location-pin{color:#ffb406}
.fa-magnifying-glass-chart{color:#00d2ff}
.fa-lock{color:#d60000}
.fa-sack-dollar{color:#ff912c}
.variable-container-inputs-quantity{text-align:center}
.variable-container-inputs-button{color:#fff!important}
#custom-button{background-color:#68d7fa;border:none}
.variable-footer-text{font-size:1rem;color:grey;margin-bottom:0!important}
.fa-phone{color:#00ffb2}
.login__table{height:100vh;background-color:#fff}
.login__debet{padding:2rem 2.5rem 1rem 2.5rem;display:flex}
.login__table .login__debet span{display:inline-block;font-weight:bolder;font-size:17px;line-height:25px;width:100%;color:#405982;margin:2px 10px}
.login__lebel{margin:30px 30px 30px 30px}
.login__table-input input{font-size:1.5rem}
@media screen and (max-width:992px){
#table__plugin{overflow:hidden;overflow-y:inherit;overflow-x:scroll;width:100%}
}
#manual-order{width:100%}
.list-group{font-size:1.4rem}
.variable ::placeholder{color:rgba(64,89,130,.55)}
.variable select{color:rgba(64,89,130,.55)}
.variable-container-inputs-button38{background-color:#21e7c3!important;border:none;color:#fff}
.fa-location-pin{color:#ffb406}
.fa-magnifying-glass-chart{color:#00d2ff}
.fa-lock{color:#d60000}
.fa-sack-dollar{color:#ff912c}
.variable-container-inputs-quantity{text-align:center}
.variable-container-inputs-button{color:#fff!important}
#custom-button{background-color:#68d7fa;border:none}
.variable-footer-text{font-size:1rem;color:grey;margin-bottom:0!important}
.fa-phone{color:#00ffb2}
.headerIcon{border-radius:50%;color:#fff;border:.1rem solid #18bdf6;background-color:#18bdf6;padding:.5rem 1rem}
.red{color:red}
/* .defaultCheckbox input,label{color:#ff912c;font-weight:700} */
.commonIcon{border-radius:50%;color:#fff;border:.1rem solid #18bdf6;background-color:#18bdf6;padding:.5rem}
.totalText{font-size:1.3rem;font-weight:700}
.fa-tag{color:#fff}
.fa-ups{color:#ffb406}
.rengliSoz{color:#ff912c}
.productContentFooter{background-color:#e1f2f9}
@media (min-width:576px){
.defaultCheckbox{margin-top:8rem;margin-left:8rem}
}
.shadowBox{box-shadow:0 4px 15px 0 #0000001a}
.amazonHeaderText{color:#405982;font-size:20px;font-weight:500;line-height:2.5rem}
select:required:invalid{color:#405982}
.displayNone{display:none}
.profileTabMenu{border:none;background-color:#fff}
.borderMenu{position:relative}
#menu1,#menu2,#menu3,#menu4,#menu5,#menu6,#menu7,#menu8{position:relative}
.downLine{border-radius:5px;background:#3b69e4;box-shadow:0 4px 4px rgba(0,0,0,.12);width:81px;height:3px;position:absolute;left:40px;top:40px}
.d2,.d3,.d4,.d5{display:none}
.profileHeader{padding:0 70px}
.profileText{font-weight:500;font-size:18px;line-height:21px;color:#405982;margin-bottom:0}
.profileIconBox{width:30px;display:flex;justify-content:center;align-items:center}
.borderBottomSelect{border-bottom:3px solid #3b69e4}
.profileText1{font-weight:500;font-size:21px;line-height:25px;color:#405982;margin-bottom:0}
.profilText2{font-weight:500;font-size:17px;line-height:20px;color:#405982;margin-bottom:0}
.profilPassworBtn{background:#21e7c3;box-shadow:0 4px 10px rgba(0,0,0,.15);border-radius:5px;border:none;padding:10px 20px;color:#fff;font-weight:500;font-size:17px;line-height:20px}
.profilPassworBtn:hover{background-color:#2cfcd6}
@media (max-width:1200px){
.profileHeader{padding:0 10px}
}
.getSpecialText{font-weight:500;font-size:16px;line-height:19px;color:#405982}
.getSpecialText2{font-weight:400;font-size:14px;line-height:16px;color:#405982}
.form-check-input{border:1px solid #21e7c3}
.form-check-input:checked{background-color:#21e7c3;border-color:#21e7c3}
.getSpecialLabel{font-weight:400;font-size:14px;line-height:16px;color:#405982}
.getSpecialSelect{color:#e3e3e3}
.getSpecialBtn{font-weight:600;font-size:20px;color:#405982}
.getSpecialBtn1{background:#ff912c;box-shadow:0 4px 15px rgba(0,0,0,.1);border-radius:5px;font-weight:400;font-size:16px;line-height:19px;color:#fff;border:none;padding:10px 20px}
.getSpecialBtn1:hover{background-color:#ffa047}
.form-control::placeholder{color:#e3e3e3}
.getSpecialQuantity::placeholder{text-align:center;color:#405982}
.getSpecialQuantity1::placeholder{text-align:center;color:#405982}
.getSpecialText3{font-weight:500;font-size:14px;line-height:16px;color:#405982}
.getSpecialDate{position:absolute}
.form-control:focus{border-color:#bebebe;box-shadow:inset 0 1px 1px rgba(255,255,255,0),0 0 8px rgba(255,255,255,0)}
.form-select:focus{border-color:#bebebe;box-shadow:inset 0 1px 1px rgba(255,255,255,0),0 0 8px rgba(255,255,255,0)}
.inputs{display:block;border:none;border-radius:.25rem;border:1px solid transparent;line-height:1.5rem;padding:0;font-size:1.6rem;color:#405982;width:100%}
input:focus{outline:0}
#ui-datepicker-div{display:none;background-color:#fff;box-shadow:0 .125rem .5rem rgba(0,0,0,.1);border-radius:.5rem}
table{border-collapse:collapse;border-spacing:0}
.ui-datepicker-calendar thead th{text-align:center;font-size:.75rem;font-weight:400;color:#78909c}
.ui-datepicker-calendar tbody td{width:2.5rem;text-align:center;padding:0}
.ui-datepicker-calendar tbody td a{display:block;border-radius:.25rem;line-height:2rem;transition:.3s all;color:#546e7a;font-size:.875rem;text-decoration:none}
.ui-datepicker-calendar tbody td a:hover{background-color:#e0f2f1}
.ui-datepicker-calendar tbody td a.ui-state-active{background-color:#009688;color:#fff}
.ui-datepicker-header a.ui-corner-all{cursor:pointer;position:absolute;top:0;width:2rem;margin:.5rem;border-radius:.25rem;transition:.3s all}
.ui-datepicker-header a.ui-corner-all:hover{background-color:#eceff1}
.ui-datepicker-header a.ui-datepicker-prev{left:0;background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==);background-repeat:no-repeat;background-size:.5rem;background-position:50%;transform:rotate(180deg)}
.ui-datepicker-header a.ui-datepicker-next{right:0;background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==);background-repeat:no-repeat;background-size:10px;background-position:50%}
.ui-datepicker-header a>span{display:none}
.ui-datepicker-title{text-align:center;line-height:2rem;margin-bottom:.25rem;font-size:.875rem;font-weight:500;padding-bottom:.25rem}
.ui-datepicker-week-col{color:#78909c;font-weight:400;font-size:.75rem}
.content{display:none}
.totalBox{display:flex;justify-content:space-around;flex-wrap:wrap}
.radioSize{height:1.8rem;width:1.8rem}
@media (max-width:1080px){
.totalBox{display:flex;justify-content:flex-start;flex-wrap:wrap}
.total{margin-right:1.9rem!important}
}
.shadowBox{box-shadow:0 4px 15px 0 #0000001a}
.amazonHeaderText{color:#405982;font-size:20px;font-weight:500;line-height:2.5rem}
select:required:invalid{color:#405982}
.amazonBTN{color:#fff;background-color:#68d7fa;font-weight:400;line-height:1.9rem;font-size:1.7rem;border:none;border-radius:5px;padding:8px 20px}
.amazonSelect{border:1px solid #68d7fa}
.amazonLabel{font-weight:500;font-size:17px;line-height:20px;color:#405982}
.amazonLabel1{font-weight:400;font-size:14px;line-height:16px;color:#405982}
.borderBottom{border-bottom:1px #bababa solid}
.iconBG{width:40px;height:40px;background-color:#00d2ff;border-radius:50%;display:flex;align-items:center;justify-content:center}
.iconSize{width:20px;height:20px}
.form-check-input{border:1px solid #21e7c3}
.form-check-input:checked{background-color:#21e7c3;border-color:#21e7c3}
.form-check-inputs{border:1px solid #47c5ff}
.form-check-inputs:checked{background-color:#47c5ff;border-color:#47c5ff}
.amazonOrderText{font-weight:400;font-size:16px;line-height:19px;color:#405982}
.amazonCalcText{color:#405982}
.amazonCalcTextHeader{color:#405982;font-weight:700;font-size:18px}
.amazonTextAdditional{font-weight:400;font-size:13px;line-height:15px;color:#405982}
.amazonTextPrice{font-weight:400;font-size:15px;line-height:17px;color:#ff912c}
.paketBtn{color:#fff!important;background-color:#ff912c;font-weight:600;font-size:16px;line-height:19px;padding:7px 10px;border:none;border-radius:5px}
.paketBtn:hover{background-color:#f8a252}
.productBtn{color:#fff!important;background-color:#47c5ff;font-weight:600;font-size:13px;line-height:19px;padding:7px 10px;border:none;border-radius:5px}
.productBtn:hover{background-color:#67cfff}
.btnSelect{background:#68d7fa;box-shadow:0 4px 10px rgba(0,0,0,.15);border-radius:5px;color:#fff}
.productYaradilanYer{background-color:rgba(255,0,0,0)}
.quoteBtn{background-color:#5e77f9;padding:0 10px;color:#fff!important;font-weight:600;font-size:16px;line-height:19px;padding:7px 10px;border:none;border-radius:5px}
.quoteBtn:hover{background-color:#7b90f7}
@media (max-width:768px){
.borderEnd{border:none!important}
.productText{font-size:14px!important}
.profileHeader{padding:0 0}
}
.bulkOrderText{font-weight:400;font-size:16px;line-height:22px;color:#405982}
.bulkOrderTextLink{color:#68d7fa}
.bulkOrderBtnUp{background:#68d7fa;box-shadow:0 4px 10px rgba(0,0,0,.15);border-radius:5px;font-size:15px;line-height:18px;border:none;color:#fff;padding:10px 20px}
.bulkOrderBtnUp:hover{background-color:#6ad4f4;border:none;color:#fff}
.bulkOrderDownHeaderText{font-weight:500;font-size:20px;line-height:25px;color:#405982}
.bulkIcon{width:100px;height:100px}
.btn-file{position:relative;overflow:hidden;color:#68d7fa;font-weight:400;font-size:19px;line-height:22px}
.btn-file input[type=file]{position:absolute;top:0;right:0;min-width:100%;min-height:100%;font-size:100px;text-align:right;filter:alpha(opacity=0);opacity:0;outline:0;cursor:inherit;display:block}
.btn-file1{position:relative;overflow:hidden;color:#fff;font-weight:400;font-size:17px;line-height:22px;background:#68d7fa;box-shadow:0 4px 10px rgba(0,0,0,.15);border:none;border-radius:5px;padding:10px 20px}
.btn-file1 input[type=file]{position:absolute;top:0;right:0;min-width:100%;min-height:100%;font-size:100px;text-align:right;filter:alpha(opacity=0);opacity:0;outline:0;cursor:inherit;display:block}
.bulkOrderText2{font-weight:400;font-size:15px;line-height:18px;text-align:center;color:#405982}
.btnBulk{font-weight:500;font-size:16px;line-height:18px;padding:10px 20px}
.downLinef{border-radius:5px;background:#3b69e4;box-shadow:0 4px 4px rgba(0,0,0,.12);width:106px;height:3px;position:absolute;left:28px;top:40px}
.f2,.f3,.f4,.f5,.f6,.f7,.f8{display:none}
.frequentlyBtn{background:#18bdf6;border-radius:5px;border:none;font-weight:500;font-size:19px;line-height:22px;color:#fff;padding:10px 30px}
.frequentlyBtn:hover{background:#01aee7}
.accordion-button{font-weight:500;font-size:16px;line-height:19px;color:#3b69e4}
.accordion-button:not(.collapsed){background-color:#fff!important}
.accordion-button:focus{border-color:rgba(255,255,255,0);box-shadow:0 0 0 .25rem rgba(13,109,253,0)}
.accordion-body{font-weight:400;font-size:14px;line-height:16px;color:#405982}
button.accordion{width:100%;background-color:#fff;border:none;outline:0;text-align:left;padding:15px 20px;font-size:18px;color:#333;cursor:pointer;transition:background-color .2s linear;font-size:16px;line-height:19px;color:#3b69e4;font-weight:500}
button.accordion:after{font-family:FontAwesome;content:"\f107";font-family:fontawesome;font-size:18px;float:right}
button.accordion.is-open:after{content:"\f106"}
.accordion-content{background-color:#fff;border-left:1px solid #f5f5f5;border-right:1px solid #f5f5f5;padding:0 20px;max-height:0;overflow:hidden;transition:max-height .2s ease-in-out;border-bottom:1px solid #ddd;font-weight:400;font-size:14px;line-height:16px;color:#405982}
.taxText{font-weight:500;font-size:21px;line-height:25px;color:#405982}
.taxText1{font-weight:500;font-size:19px;line-height:22px;color:#405982}
.taxBox{width:100%;height:200px}
.labelTax{width:80%}
.card-input-element{display:none}
.card-input:hover{cursor:pointer}
.card-input-element:checked+.card-input{box-shadow:0 0 1px 1px #ff912c}
.taxBtn{background:#3b69e4;border:1px solid rgba(0,0,0,.04);box-shadow:0 4px 10px rgba(0,0,0,.15);border-radius:5px;font-weight:500;font-size:14px;line-height:16px;padding:10px 20px;color:#fff}
.taxBtn:hover{background:#285be6}
.taxPageTwo{display:none;padding:0 40px}
.taxBtnSelect{position:relative;overflow:hidden;color:#fff;font-weight:400;font-size:19px;line-height:22px;background:#68d7fa;box-shadow:0 4px 10px rgba(0,0,0,.15);border:none;border-radius:5px;padding:10px 15px;margin-top:10px}
.taxBtnSelect input[type=file]{position:absolute;top:0;right:0;min-width:100%;min-height:100%;font-size:100px;text-align:right;filter:alpha(opacity=0);opacity:0;outline:0;cursor:inherit;display:block}
@media (min-width:768px) and (max-width:1000px){
.taxBox{width:70%}
}
@media (max-width:425px){
.taxPageTwo{padding:0 10px}
}
#Blogs a{text-decoration:none;color:#000}
.blog-card .imgs{width:100%;height:200px;object-fit:cover;border-radius:10px}
.blog-card .text-blog{padding:10px}
.blog-card .text-blog h4{font-weight:500;font-size:17px;line-height:20px;color:#3b69e4}
.blog-card .text-blog .dateTime{display:flex;align-items:center;gap:10px}
.blog-card .text-blog .dateTime span{color:#bebebe;font-size:16px}
.blog-card .text-blog p{margin:5px 0;font-weight:400;font-size:9px;color:#525252}
.blogCard{box-shadow:0 4px 15px 0 #0000001a;width:80%;margin:auto;height:auto;border-radius:5px 5px 0 0}
.blog-img img{width:100%;height:100%;object-fit:cover;border-radius:5px}
.blog-img{padding:20px}
.blog-content{padding:0 20px 20px 20px}
.dateBlog{margin:10px 0;display:flex;align-items:center}
.blog-contentText{font-weight:700;font-size:23px;line-height:27px;color:#3b69e4}
.dateBlog span{font-weight:500;font-size:15px;line-height:18px;color:#bebebe}
@media (max-width:768px){
.blog-contentText{font-weight:700;font-size:16px}
.blog-img{padding:20px 0 0 0}
.blog-content{padding:0}
}
.mapLocation{width:100%;margin:auto}
.showBoxes{width:100%;margin:auto}
.show-map{box-shadow:0 4px 15px 0 #0000001a;padding:15px;border-radius:5px;margin:10px 0;display:flex;align-items:center;background-color:#fff}
.show-map .text-title{display:flex;align-items:center;margin-bottom:10px}
.show-map .text-title h5{color:#405982;margin:0 5px;font-weight:500}
.show-map .text-title span{color:#000;opacity:.3;font-size:19px;font-weight:500;line-height:22px}
.show-map .text-desc span{color:#405982;font-weight:500;font-size:17px;line-height:20px}
.show-map-button button{background-color:#3b69e4;box-shadow:0 4px 10px 0 #00000026;padding:5px 17px;font-size:18px;color:#fff;border:none;border-radius:5px}
@media (max-width:425px){
.show-map .text-desc span{font-size:16px}
}
@media (max-width:320px){
.show-map .text-desc span{font-size:12px}
.show-map-button button{font-size:16px}
}
.cargoCompaniesCardItem{border-radius:50%!important;width:150px;height:150px}
.cargoCompanyBtn{padding:10px 30px!important}

/* .notf-containeer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,22%);
    justify-content: space-around;
    gap: 20px 0;
}
.notf-div-holder{
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 20;
    width:100%;
    background:#fff;
    box-shadow:0 4px 15px rgba(0,0,0,.1);
}
.notf-div-holder:hover{
    box-shadow: 0px -20px 50px 1px rgb(0 0 0 / 32%);
    transform: scale(1.1) translateY(3em);
    cursor: pointer;
    border-radius: 20px;
    z-index:100;
} */
