#profil{width:100%;font-size:1.8rem}
.profil__input{height:80vh}
.variable a{text-decoration:none}
.h6,.variable h2,h5,h6,label{font-size:1.3rem}
.variable .form-control{font-size:1.5rem}
.variable .btn{font-size:1.5rem}
.variable ::placeholder{color:rgba(64,89,130,.55)}
.variable select{color:rgba(64,89,130,.55)}
.variable-container-inputs-button38{background-color:#21e7c3!important;border:none;color:#fff}
.fa-location-pin{color:#ffb406}
.fa-magnifying-glass-chart{color:#00d2ff}
.fa-lock{color:#d60000}
.fa-sack-dollar{color:#ff912c}
.variable-container-inputs-quantity{text-align:center}
.variable-container-inputs-button{color:#fff!important}
#custom-button{background-color:#68d7fa;border:none}
.variable-footer-text{font-size:1rem;color:grey;margin-bottom:0!important}
.fa-phone{color:#00ffb2}
.login__table{height:100vh;background-color:#fff}
.login__debet{padding:2rem 2.5rem 1rem 2.5rem;display:flex}
.login__table .login__debet span{display:inline-block;font-weight:bolder;font-size:17px;line-height:25px;width:100%;color:#405982;margin:2px 10px}
.login__lebel{margin:30px 30px 30px 30px}
.login__table-input input{font-size:1.5rem}
@media screen and (max-width:992px){
#table__plugin{overflow:hidden;overflow-y:inherit;overflow-x:scroll;width:100%}
}
#manual-order{width:100%}
.list-group{font-size:1.4rem}
.variable ::placeholder{color:rgba(64,89,130,.55)}
.variable select{color:rgba(64,89,130,.55)}
.variable-container-inputs-button38{background-color:#21e7c3!important;border:none;color:#fff}
.fa-location-pin{color:#ffb406}
.fa-magnifying-glass-chart{color:#00d2ff}
.fa-lock{color:#d60000}
.fa-sack-dollar{color:#ff912c}
.variable-container-inputs-quantity{text-align:center}
.variable-container-inputs-button{color:#fff!important}
#custom-button{background-color:#68d7fa;border:none}
.variable-footer-text{font-size:1rem;color:grey;margin-bottom:0!important}
.fa-phone{color:#00ffb2}
.headerIcon{border-radius:50%;color:#fff;border:.1rem solid #18bdf6;background-color:#18bdf6;padding:.5rem 1rem}
.red{color:red}
.defaultCheckbox input,label{color:#ff912c;font-weight:700}
.commonIcon{border-radius:50%;color:#fff;border:.1rem solid #18bdf6;background-color:#18bdf6;padding:.5rem}
.totalText{font-size:1.3rem;font-weight:700}
.fa-tag{color:#fff}
.fa-ups{color:#ffb406}
.rengliSoz{color:#ff912c}
.productContentFooter{background-color:#e1f2f9}
@media (min-width:576px){
.defaultCheckbox{margin-top:8rem;margin-left:8rem}
}
