.page {

    padding: 6rem 1.5rem 0 1.5rem;
    background-color: #fff;


    &__2 {
        margin-top: 10rem;
    }



    &__structure {

        height: auto;
    }

    &__structure>.row {

        background-color: #fff;
    }



    &__box {
        // border: 1px solid red;
        text-align: center;
        padding: 1.5rem 1.5rem;
        margin: 1.5rem;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        min-height: 26rem;


    }


    &__box>div:not(:last-child) {
        margin-bottom: 1.5rem;
    }


    &__img {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        &-1 {
            background-color: #EB5866;
        }

        &-2 {
            background-color: #FFB406;
        }

        &-3 {
            background-color: #3B69E4;
        }

        &-4 {
            background-color: #47C5FF;
        }

        &-5 {
            background-color: #E97058;
        }

        &-6 {
            background-color: #68D7FA;
        }

        img {
            width: 70%;
        }
    }




    &__input>input {
        width: 80%;
        display: block;
        margin: 0 auto;
    }


    &__btn {
        display: block;
        width: 70%;
        margin: 0 auto;
        padding: .5rem 1rem;
        border: none;
        color: white;
        font-size: 1.3rem;
        border-radius: 1rem;


        @media screen and(max-width:991px) {
            width: 60%;
        }

        @media screen and(max-width:577px) {
            width: 40%;

            .page__input>input {
                width: 56%;
            }
        }


        &-1 {
            background-color: #EB5866;
        }

        &-2 {
            background-color: #FFB406;
        }

        &-3 {
            background-color: #3B69E4;
        }

        &-4 {
            background-color: #47C5FF;
        }

        &-5 {
            background-color: #E97058;
        }

        &-6 {
            background-color: #68D7FA;
        }
    }






    &__header {

        .heading {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 800;
            font-size: 1.5rem;
            line-height: 25px;

        }
    }

    &__text {
        p {
            font-weight: 400;
            font-size: 1.5rem;

        }
    }



    &__row {
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding: 2rem;
        min-height: 40rem;

        @media screen and(max-width:1170px) {
            min-height: 46rem;
        }

    }


    &__row {
        @media screen and(max-width:992px) {
            min-height: 30rem;
        }
    }

    &__packed {
        margin: 1.4rem 0;
        padding: 1rem 1rem;
        display: flex;

        background: #FFFFFF;
        border: 1px solid rgba(179, 179, 179, 0.19);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px;

        &>p {
            font-size: 1.2rem;
        }

    }

    &__charts {
        height: auto;
    }



    &__not {

        display: flex;
        align-items: center;


        &-box {
            width: 4rem;
            height: 4rem;
            background: linear-gradient(to right top, #18BDF6, #00D2FF);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 40%;
        }
    }



    &__dots {
        display: flex;
        justify-content: space-around;
        margin: 2rem 0;
    }

    &__dots-color {
        display: flex;
        align-items: center;


        p {
            margin-bottom: 0;
            margin-left: .5rem;
            font-size: 1.2rem;
        }

    }


    &__calc-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .h5 {
            margin-bottom: -1.25rem;
            font-size: 1.5rem !important;

        }


        .total {
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            color: #405982;
        }
    }


    &__price-buttons {

        display: flex;
        justify-content: flex-end;
        align-items: center;

        p {
            margin-bottom: 0;
        }
    }



    &__map {
        margin-top: 4rem;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding: 2rem 0;


        &-img {
            display: flex;
            justify-content: center;

        }
    }




    &__progress {
        margin-left: 8rem;

    }

    &__progressbar-datas {
        display: flex;
        justify-content: space-between;
    }

    &__map-btn {
        display: flex;
        justify-content: flex-end;
        margin: 3rem 6rem;
    }

}

.calc__box-text {
    font-size: 1.4rem;
}


.form-select {
    font-size: 1.5rem;
}


.form-control {
    font-size: 1.5rem;
}

.input-group-text {
    font-size: 1.3rem;
}



.color__box {
    margin: 2rem 0;
    display: flex;
    justify-content: center;

    // .offset-1 {
    //     margin-left: 0;
    // }
}


















////////
