.stock {
    margin-bottom: 5rem;


    &__img {
        text-align: center;

        img {
            width: 50%;
        }

    }


    // .table__datas {
    //     margin-top: 1.5rem;
    // }

    .courier__input-boxed {
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.17);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding: 3rem 1.5rem;
    }


    &__boxed {
        padding: 0rem 1rem 3rem 1rem;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.17);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        margin-bottom: 4rem;
        margin: 10px;



        h6 {
            margin-top: 1.5rem;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #405982;
        }
    }


    &__btn {
        div {
            margin: 1.5rem;
        }

        h4 {
            margin-top: 4rem;
            margin-right: 1rem;
        }
    }


    &--btn {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */
        background: #5E77F9;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding: .6rem;
        border: none;
        color: #FFFFFF;
    }


    &__bracket-name {
        font-weight: 600;
        font-size: 12px;
        line-height: 19px;
        color: #405982;
    }


    &__kq {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #405982;
    }


    &__top {
        margin-top: 2rem;
    }

    &__top-1 {
        margin-top: 1rem;
    }


    &__inputs {
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }

    &__btned {

        padding: .2rem 1.4rem;
    }

    &__image-box {}


}



#display_image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 1px solid black;
    background-size: cover;
    // background: #C4C4C4;
    background-position: inherit;
    margin-top: 2rem;
    background-repeat: no-repeat;
}


@media screen and(max-width:578px) {
    // .stock__btned {
    //     padding: .6rem .8rem;
    //     font-size: 16px;
    //     line-height: 29px;
    // }
}

@media screen and(max-width: 400px) {

    .stock-input__above-text {
        font-size: 11px;
    }

    .stock__flexed {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
    }

    .stock__btned {
        padding: 0.4rem 1.6rem;
        font-size: 16px;
    }


    input[type="file"]::file-selector-button {
        padding: .8rem 1.2rem;
        border: none;
        color: #fff;
        font-size: 1.2rem;
        cursor: pointer;
        background: #68D7FA;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        transition: .5s all;
    }

}


@media screen and(max-width:992px) {
    .stocked__image {
        width: 60% !important;
    }
}

@media screen and(max-width:769px) {
    .stocked__image {
        width: 70% !important;
    }
}

@media screen and(max-width:500px) {
    .stocked__image {
        width: 80% !important;
    }
}
